<a href="https://colab.research.google.com/github/Jaztinn/OOP-58002/blob/main/Espares%2COperation_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
a = 7
b =6

print(10>9)
print(10<9)
print(a>b)

True
False
True

bool() function

In [3]:
print(bool("Jastin"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [4]:
def my_Function():
  return True
print(my_Function())

True

In [5]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [6]:
print(a==b)
print(a<b)

False
False

Python Operators

In [9]:
print(10+2)
print(10-9)
print(10/3)
print(10*2)
print(10%5)
print(10//3)       #10/3 = 3.3333
print(10**2)

12
1
3.3333333333333335
20
0
3
100

Bitwise operators

In [11]:
c = 50 # binary 0011 1100
d = 12 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

62
62
48

Logical Operators

In [12]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

In [13]:
#Python Assignment Operators

In [15]:
x = 100
x+=2 # Same as x = x +2,  x = 100+2=102
print(x)

102

Identity Operators

In [16]:
h is l
h is not l

True

Control Structure

If Statement

In [22]:
if a>b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [23]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [24]:
a= 10
b =10

if a>b:
  print("a is greater than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [25]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [26]:
a = 10
b = 9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

And

In [27]:
if a>b and b==b:
  print("both conditions are True")

both conditions are True

Or

In [28]:
if a<b or b==b:
  print("the condition is True")

the condition is True

Nested If

In [31]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

54
x is above 10
and also above 20
and also above 30
and also above 40
and also above 50

## Loop Statement

For Loop

In [32]:
week = ['Sunday',"Monday",'Tuesday', "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [33]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [36]:
#to display only Monday using break statement

for x in week:
  if x=="Monday":
    break
print(x)

Monday

While Statement

In [37]:
i =1
while i<6:
  print(i)
  i+=1   #same as i = i +1

1
2
3
4
5

Application 3 - Create a python program that displays no.3 using break statement

In [38]:
i =1
while i<6:
  if i==3:
    break
  i+=1
print(i)

3